{{!-- ===================================NAVBAR=========================================== --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="nav-left">
    <a id="logo-name" class="navbar-brand" href="/">
      <h3>acompanhe aqui</h1>
    </a>
  </div>
  <div class="nav-right">
    <div class="dropdown mr-1">
      <button type="button" id="nav-dropdown" class="btn btn-primary dropdown-toggle" id="dropdownMenuOffset"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
        <img class="nav-picture" src="{{user.imgPath}}" alt="">
        {{user.username}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
        <a class="dropdown-item" href="/home">Meus serviços</a>
        <a class="dropdown-item" href="/edit-password">Alterar minha senha</a>
        <a class="dropdown-item" href="/cancel-account">Excluir minha conta</a>
        <a class="dropdown-item" href="/">Página inicial</a>
        <a class="dropdown-item" href="/Signup">Cadastro</a>
        <a class="dropdown-item" href="/logout"><strong>Sair</strong></a>
      </div>
    </div>
  </div>
</nav>

{{!-- </section> --}}

<section id="password-container">
  <div id="password-form">
    <form action="/edit-password" method="POST">
      {{!-- =============================TIPO DE USUÁRIO=============================================== --}}
      <h4>Alteração de senha:</h4>
      <div class="form-row">
        <div class="form-group">
          <label for="inputPassword4"></label>
          <input name="password" type="password" class="form-control" id="inputPassword4" maxlength="15"
            placeholder="Nova senha">
        </div>
      </div>
      <div id="form-button">
        <button type="submit" class="btn btn-primary">Salvar alteração</button>
      </div>
    </form>
  </div>
</section>

{{!-- 
<section id="login-page">
  <div id="login-form">

    <form action="/login" method="POST">


      <div class="form-group">
        <label for="exampleInputPassword1">Senha</label>
        <input name="password" type="password" class="form-control" id="exampleInputPassword1" maxlength="15"
          placeholder="">
      </div>

      <div id="form-button">
        <button type="submit" class="btn btn-primary">Entrar</button>
      </div>

    </form>
  
  </div>
</section> --}}