{{!-- ===================================NAVBAR=========================================== --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="nav-left">
    <a id="logo-name" class="navbar-brand" href="/">
      <h3>acompanhe aqui</h1>
    </a>
  </div>
  <div class="nav-right">
    <div class="dropdown mr-1">
      <button type="button" id="nav-dropdown" class="btn btn-primary dropdown-toggle" id="dropdownMenuOffset"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
        <img class="nav-picture" src="{{user.imgPath}}" alt="">
        {{user.username}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
        <a class="dropdown-item" href="/home">Meus serviços</a>
        <a class="dropdown-item" href="/">Página inicial</a>
        <a class="dropdown-item" href="/Signup">Cadastro</a>
        <a class="dropdown-item" href="/logout"><strong>Sair</strong></a>
      </div>
    </div>
  </div>
</nav>

{{!-- ===================================ERROR PAGE=========================================== --}}
<section id="message-page">
  {{#unless modal}}
  <div id="error-message">
    <h2>Atenção!</h2>
    <p>Senha não alterada!</p>
    <p>{{ message }}</p>
    <a href="/edit-password">
      <p>Tentar novamente</p>
    </a>
  </div>
  {{else}}
  <div id="success-message">
    <h5>Senha alterada com sucesso!</h5>
    <a href="/home">
      <p>Voltar para minha página.</p>
    </a>
  </div>
  {{/unless}}
</section>