{{!-- ===================================NAVBAR=========================================== --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="nav-left">
    {{!-- <a id="logo-name" class="navbar-brand" href="/">
      <h3><img id="logo-img" src="../images/flow.jpg" class="" alt="..."> acompanhe aqui</h1>
    </a> --}}
    <a id="logo-name" class="navbar-brand" href="/">
      <h3>acompanhe aqui</h1>
    </a>
  </div>
  <div class="nav-right">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a id="signup-button" class="btn btn-primary" href="/signup">Cadastre-se<span
            class="sr-only">(current)</span></a>
        <a id="login-button" class="btn btn-primary" href="/">Página inicial</a>
      </div>
    </div>
  </div>
</nav>

{{!-- ===================================ABOUT PAGE=========================================== --}}
<section id="about-page">
  <div id="about" class="card">
    <div class="card-body">
      <h3 class="card-title">Sobre o Acompanhe Aqui</h3>
      {{!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> --}}
      {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, vero! Aliquid perferendis nemo praesentium ipsam
        perspiciatis animi aliquam veniam accusantium obcaecati repellat, et rerum dolore quos nam. Quae, at illo.</p>
      <br>
      <p>Id quas consequatur odio, excepturi numquam iure iusto quibusdam optio explicabo ipsum molestiae nihil eius
        dicta
        qui cumque quasi magnam deserunt minus reprehenderit obcaecati dolores velit? Repellat officiis ut harum.</p>
      <br>
      <p>Nesciunt ut laboriosam doloribus quasi tempore eaque doloremque labore laudantium rem! Distinctio aut aperiam
        ratione modi harum dolorum incidunt natus, consequatur repellat, blanditiis, iure suscipit? Ab quo laudantium
        numquam perferendis.</p>
      <br>
      <p>Adipisci debitis quas quos quae molestiae odio minima, sit libero illo, facere itaque autem aliquam maiores
        quis
        pariatur dicta, dignissimos voluptate iusto! Ab nihil quasi vitae molestias, minus illum incidunt!</p>
      <br>
      <p>Distinctio quis exercitationem, quibusdam doloribus tempora alias recusandae temporibus delectus vel dolorem
        deserunt voluptate commodi fugit ab suscipit repudiandae corrupti nostrum, dolore sed et mollitia, velit animi
        modi expedita. Iusto.</p>
      <div id="signup-button3">
        <a class="btn btn-primary" href="/signup" role="button">Cadastre-se</a>
      </div>
    </div>
  </div>
</section>