{{!-- ===================================NAVBAR=========================================== --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="nav-left">
    {{!-- <a id="logo-name" class="navbar-brand" href="/">
      <h3><img id="logo-img" src="../images/flow.jpg" class="" alt="..."> acompanhe aqui</h1>
    </a> --}}
    <a id="logo-name" class="navbar-brand" href="/">
      <h3>acompanhe aqui</h1>
    </a>
  </div>
  <div class="nav-right">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a id="signup-button" class="btn btn-primary" href="/">Página inicial<span class="sr-only">(current)</span></a>
        <a id="login-button" class="btn btn-primary" href="/login">Entrar</a>
      </div>
    </div>
  </div>
</nav>

{{!-- ===================================ERROR PAGE=========================================== --}}
<section id="message-page">
  {{!-- {{#unless modal}} --}}
  <div id="error-message">
    <h2>Atenção!</h2>
    <p>Login não realizado!</p>
    <p>Verifique se o nome de usuário e a senha digitados estão corretos e tente novamente.</p>
    <a href="/login">
      <p>Voltar para login</p>
    </a>
  </div>
  {{!-- {{else}}
  <div id="success-message">
    <h5>A conta referente ao nome de usuário digitado foi cancelada. Tente novamente.</h5>
    <a href="/login">
      <p>Voltar para login</p>
    </a>
  </div>
  {{/unless}} --}}
</section>