/* * {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
} */

html, body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 20px;
}

h1 { font-family: ‘Merriweather’, Georgia, serif; }

#index-page {
  height: 100%;
}

/* ============================NAVBAR=============================== */

.navbar {
  display: flex !important;
  justify-content: space-between;
  padding: 1% 10%;
}

#logo-name {
  height: 60px;
}

nav h3 {
  font-style: italic;
  font-weight: bold;
  color: #3a9ecb;
/* text-transform: capitalize; */
}

/* ===============================INDEX PAGE================================= */

/* ============================SECTION 1 (FOTO)=============================== */

/* #section1 { */

  /* opacity: 0.6; */
  /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; IE */
/* }  */

#big-picture { 
  filter: brightness(50%);
  object-fit: cover;
  height: 600px;
}

#big-picture-text {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1rem; 
}

/* ============================SECTION 2 (O APLICATIVO)=============================== */

#section2 {
  background-color: #3a9ecb;
  color: #FFFFFF;
  font-size: 1rem;
  justify-content: center;
}

#section2-container {
  padding: 128px 20%;
  text-align: center;
  /* margin: 10px 0px 45px; */
 }
 
#section2-container h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
}

#section2-container hr {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 32px;
  background-color: #FFFFFF;
  height: 2px;
  width: 4rem;
  margin: 24px auto;
}

#section2 p {
  margin: 0px 0px 24px;
}
  
/* ============================SECTION 3 (BENEFÍCIOS)=============================== */

#section3 {
  background-color: #FFFFFF;
  color: #215259;
  font-size: 1rem;
}

#section3 p {
  color: #6C757D;
}
  
#section3-container {
  padding: 100px 5% 85px;
  text-align: center;
}

#beneficios p {
  margin-bottom: 40px;
}

#vantagens {
  display: flex;
  justify-content: center;
}

.vantagens-card {
  border: none;
  align-items: center;
  min-width: 400px;
}

.vantagens-card img {
  max-width: 250px;
  height: auto;
}

.vantagens-card h3 {
  margin-top: -15px;
}   

#section3-container h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
  margin-top: 0px;
}
  
#section3-container hr {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 32px;
  background-color: #3a9ecb;
  height: 2px;
  width: 4rem;
  margin: 24px auto;
}

/* ============================SECTION 4 (PICTURES)=============================== */
#section4 {
  background-color: #343A40;
  border: none;
  margin: none;
  filter: brightness(95%);
}

#section4 .card {
  margin: none;
  border: none;
  padding: none;
}

/* ============================SECTION 5 (CADASTRE-SE)=============================== */

#section5 {
  background-color: #343A40;
  color: #FFFFFF;
  font-size: 1rem;
  justify-content: center;
}
  
#section5-container {
  padding: 128px 20%;
  text-align: center;
}
   
#section5-container h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
  padding-bottom: 24px;
}
  
/* ============================SECTION 6=============================== */

#section6 {
  background-color: #FFFFFF;
  color: #215259;
  font-size: 1rem;
  justify-content: center;
}

#section6-container {
  padding: 128px 5% 63px;
  text-align: center;
}

#section6 p {
  padding: 0px 0px 30px;
  text-align: center;
}

#atendimento p {
  color: #6C757D;
}
 
#contatos {
  display: flex;
  justify-content: center;
}

.contatos-card {
  align-items: center;
  border: none;
  padding: 0 20px;
  margin-bottom: 0px;
}

#section6 img {
  width: 100px;
  height: auto;
  text-align: center;
}

#section6-container h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
  margin-top: 0px;
}
    
#section6-container hr {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 32px;
  background-color: #3a9ecb;
  height: 2px;
  width: 4rem;
  margin: 24px auto;
}

#e-mail {
  color: #3a9ecb;
}

/* ===============================ABOUT================================= */

#about-page {
  display: flex;
  justify-content: center;
  background-color: #3a9ecb;
  min-height: 100vh;
}
  
#about {
  border-radius: 7px;
  margin: 100px 5vw;
  padding: 40px;
  justify-content: center;
  max-width: 800px;
}

#about h3 {
  padding-bottom: 30px;
}

#signup-button3 {
  margin-top: 30px;
  text-align: end;
}

/* ============================SIGNUP PAGE=============================== */
  
#signup-button, #login-button, #sair-button, #about-button, #signup-button2 {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
    /* margin: 10px 0px 45px; */
}

#login-button {
  background-color: rgba(12, 8, 77, 0.9);
  color: #FFFFFF;
  border: 1px solid gba(10, 7, 66, 0.9);
  
}

#signup-button {
  background-color: #3a9ecb;
  color: #FFFFFF;
  border: 1px solid #3a9ecb;
}

#about-button, #signup-button2 {
  padding: 20px 36px;
  border-radius: 50px;
  text-transform: uppercase;
}

#about-button {
  background-color: #FFFFFF;
  color:#215259;
  border: 1px solid #FFFFFF;
}

#signup-button2 {
  background-color: #FFFFFF;
  color:#215259;
  border: 1px solid #FFFFFF;
 }

#sair-button {
  background-color:rgb(212, 51, 51);
  color:white;
  border: 1px solid rgb(212, 51, 51);
  margin-left: 10px;
}
  
#signup-container {
  display: flex;
  justify-content: center;
  background-color: #3a9ecb;
  min-height: 100vh;  
}
  
#signup {
  border-radius: 7px;
  margin: 100px 20px 100px 20px;
  padding: 40px;
  justify-content: center;
  max-width: 800px;
  background-color: white;
}
  
#signup h4 {
  padding-top: 20px;
  text-align: center;
}
  
#check-button {
  text-align: center;
}
  
#form-button {
  text-align: end;
}

#signup-container span {
  font-size: 0.8rem;
}

/* ============================LOGIN PAGE=============================== */

#login-page {
  display: flex;
  justify-content: center;
  background-color: #3a9ecb;
  /* height: calc(100vh - 70px); */
  height: 100vh;
}
  
#login-form {
  border-radius: 7px;
  margin: 100px 20px auto;
  padding: 40px;
  justify-content: center;
  max-width: 800px;
  background-color: white !important;
}

/* ============================HOME PAGE=============================== */

/* ============================NAVBAR=============================== */

#nav-dropdown {
  background-color: #3a9ecb;
  padding: 4px 14px 4px 4px;
  border: none;
  margin: 0px;
}

.nav-picture {
  height: 60px;
  width: 60px;
  margin-right: 4px;
  justify-content: center;
  object-fit: cover;
}

/* ============================HOME 1=============================== */

#home-container {
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 58);
  margin: 0;
  min-height: 100vh;
}

/* ===================================HOME 2=========================================== */

#home-services {
  background-color: #3a9ecb;
  min-height: 100vh;
  width: 95vw;
  padding: 10px 10px;
  border-radius: 30px;
  margin: 4vw; 
}

#home-services h3 {
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  margin: 30px auto;
}

#search-nav {
  background-color: #3a9ecb;
  border: none;
  align-items: center;
  justify-content: center;
  margin: -20px 5px 0;
}

.search-button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 24px;
  color: #FFFFFF;
  border: 1px solid rgba(12, 8, 77, 0.9);
  border-radius: 30px;;
  background-color: rgba(12, 8, 77, 0.9);
}


.new-service-button {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: rgba(12, 8, 77, 0.9);
}

.home-card img {
  justify-content: center;
  object-fit: cover;
  height: 300px;
}

#services {
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}
      
.service {
  margin: 20px 0px;
  text-align: center;
  font-size: 0.8rem;
}

.service .card {
  height: 280px;
  width: 236px;
  border-radius: 20px;
  align-items: center;
  padding: 20px;
  color: black;
}

.service .card:hover {
  background-color: rgb(223, 217, 217);
}

.service .card:active {
  border: 5px solid rgb(0, 0, 58);
}

.service a {
text-decoration: none;
}

.service .card {
  background-color:#FFFFFF;
}

.service h5 {
  font-weight: bold;
  font-size: 1rem;
}

.service h6 {
  margin: 20px 0px;
  color: #3a9ecb;
}

.customer-picture {
  justify-content: center;
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

/* ===================================CUSTOMER=========================================== */

/* ===================================CUSTOMER 1=========================================== */

/* ============================CUSTOMER 1=============================== */

#customer-container {
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 58);
  margin: 0;
  min-height: 100vh;
}

/* ===================================CUSTOMER 2=========================================== */

#customer-services {
  background-color: #3a9ecb;
  min-height: 100vh;
  width: 95vw;
  padding: 10px 10px;
  border-radius: 30px;
  margin: 4vw; 
}

#customer-services h3 {
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  margin: 30px auto;
}

#customer-card-deck {
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}

#customer-card-deck .card {
  border-radius: 20px;
  align-items: center;
  padding: 20px;
  color: black;
  max-width: 740px;
}

#customer-card-deck .card:hover {
  background-color: rgb(223, 217, 217);
}

#customer-card-deck .card:active {
  border: 5px solid rgb(0, 0, 58);
}

#customer-card-deck a {
text-decoration: none;
}

#customer-card-deck .card {
  background-color:#FFFFFF;
}

#customer-card-deck h5 {
  font-weight: bold;
  font-size: 1rem;
}

#customer-card-deck h6 {
  margin: 20px 0px;
  color: #3a9ecb;
}

/* ===================================ERROR PAGE=========================================== */

#message-page {
  display: flex;
  justify-content: center;
  background-color: #3a9ecb;
  height: 100vh;
}
  
#error-message {
  border-radius: 7px;
  margin: 100px 20px auto;
  padding: 40px;
  justify-content: center;
  max-width: 440px;
  background-color: white !important;
}

#error-message h2 {
  padding-bottom: 16px;
  text-align: center;
}

#success-message {
  border-radius: 7px;
  margin: 100px 20px auto;
  padding: 40px;
  justify-content: center;
  max-width: 800px;
  background-color: white !important;
}

/* ============================PASSWORD PAGE=============================== */


#password-container {
  display: flex;
  justify-content: center;
  background-color: #3a9ecb;
  /* height: calc(100vh - 70px); */
  height: 100vh;
}
  
#password-form {
  border-radius: 7px;
  margin: 100px 20px auto;
  padding: 40px;
  justify-content: center;
  max-width: 800px;
  background-color: white;
}

#password-form button {
  margin-top: 10px;
}

/* ===================================MEDIA QUERY=========================================== */

@media(max-width: 756px) {
  html {
    font-size: 20px;
  }
  #section1 .card-title {
    font-size: 28px;
  }
}

